/* @group GENERAL STYLES
------------------------------------------------------------------------*/
@import "normalize.css";

body {
	font-family: "HelveticaNeueUltraLight", "HelveticaNeue-Ultra-Light", "Helvetica Neue Ultra Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Arial", sans-serif;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	font-size: 100%;
	width:auto; 
	height:auto;	
	color: #000000;
	overflow: hidden;	
}
	
/* @group HELPERS
------------------------------------------------------------------------*/

.clear { clear: both }

@font-face {
  font-family: Zapfino;
  font-style: normal;
  font-weight: 400;
  src: local(Zapfino), url(Zapfino.ttf);
}



/* @group PAGE STRUCTURE
------------------------------------------------------------------------*/
#container {	
	width: 100%;		
}


#headBanner {
	width: 100%;
	background-position: center 0px;
	background-image: url(../img/cover.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow: hidden;

}

#headBanner h1 {
	text-align: center;
	width: 100%;
	color:#fff;
	display: block;
	text-shadow: 0 0 8px rgba(0,0,0,1);
	margin: 0 auto;
	font-family: Zapfino;
	font-size: 3.3em;
	font-weight: 100;
}

#buildWrap {
	margin: 90px auto 20px auto;
	max-width: 62.5em;	
}

.wrap {
	margin: 0px auto;
	max-width: 62.5em;	
	background: transparent;	
}

.building {
	width: 400px;
	height: 255px;
	float: left;
	overflow: hidden;
	background: transparent;
}
.building a {
	display: block;
	height: 275px;
}

.descript {
	float:left;
	width: 480px;
	text-align: justify;
	
}

.descript h2 {
	font-family: Zapfino;
	text-align: center;
}

.contacts {
	float: left;
	width: 480px;
}
/*
#contacts div {
	float: left;
	width: 480px;
	text-align: center;
}
*/



#footer {
	height: 320px;
	width: 100%;
	background-color: #4e4e4e;
}

    
/* preloader */
#preloader {
		position: fixed;
		top:0;
		left:0;
		right:0;
		bottom:0;
		background-color: #000; 
		z-index:99; /* makes sure it stays on top */
	}

#status {
		width:200px;
		height:200px;
		position:absolute;
		left:50%;
		top:30%;
		background-image:url(../img/preloader.gif);
		background-repeat:no-repeat;
		background-position:center;
		margin:-100px 0 0 -100px; /* is width and height divided by two */
	}