/* @group GENERAL STYLES
------------------------------------------------------------------------*/
@import "normalize.css";
@import "reset.css";

body {
	font-family: Candara, sans-serif;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	font-size: 100%;
	width:auto; 
	height:auto;	
	color: #000000;
	overflow: hidden;	
}
	
/* @group HELPERS
------------------------------------------------------------------------*/

.clear { clear: both }

@font-face {
  font-family: Zapfino;
  font-style: normal;
  font-weight: 400;
  src: local(Zapfino), url(Zapfino.ttf);
}



/* @group PAGE STRUCTURE
------------------------------------------------------------------------*/
#container {	
	width: 100%;
	background-image: url(../img/background.jpg);

}

/* colorline at the top */
#topline {
	width: 100%;
}
#topline div {
	height: 6px;
	width: 14.28571429%;
	float: left;
}
#topline #one {
	background-color: #381e6c;
}
#topline #two {
	background-color: #4d7dec;
}
#topline #three {
	background-color: #dd5ac9;
}
#topline #four {
	background-color: #ff5234;
}
#topline #five {
	background-color: #fc9d38;
}
#topline #six {
	background-color: #ffe860;
}
#topline #seven {
	background-color: #9ed506;
}

						/* TOP CONTENT */

#headBanner h1 {
	text-align: center;
	color:#1a1a1a;
	margin: 0 auto;
	font-family: 'Fredericka the Great', cursive;
	font-size: 5.3em; 
	line-height: 2.3em;;
}

#headBanner h2 {
	text-align: center;
	font-size: 3em;
	font-family: 'Indie Flower', cursive;
}
#headBanner h2 a {
	text-decoration: none;
	color: #4d7dec;
}
#headBanner h2 a:hover {
	color: #ff5234;

}

						
							
							/* MIDDLE CONTENT BOXES */
.wrap {
	margin: 0px auto;
	max-width: 1300px;	
}


.institution {
	margin-top: 50px;
	float: left;
	width: 580px;
	height: 600px;
	box-shadow: 1px 1px 2px 1px #5e5e5e;
	border-radius: 6px;
	background-image: url(../img/background_dark.png);
}
.institution:first-of-type {
	margin-right: 70px;
	margin-left: 35px;
}
.institution a {
	display: block;
	width: 580px;
	height: 600px;
	text-decoration: none;
}
.building {
	width: 580px;
	height: 285px;
	overflow: hidden;
}
	
	
.descript {
	text-align: justify;
	color: #bbbbbb;
	padding: 0px 50px;
	
}

.descript h2 {
	text-align: center;
	margin-bottom: 50px;
	margin-top: 60px;
	font-size: 1.5em;
}

.descript p {
	line-height: 1.3em;
}

	
	/* contacts */
#contactsWrap {
	margin-top: 80px;
	padding-bottom: 80px;
}

.contacts {
	float: left;
	width: 320px;
	height: 320px;
	border-radius: 50%;
	background-color: #ff5234;
}
.contacts:first-of-type {
	margin-left: 170px;
	margin-right: 340px;
	background-color: #4d7dec;
}
.contacts ul {
	margin: 0px;
	margin-bottom: 40px;
	font-size: 0.9em;
	text-align: center;
	line-height: 1.2em;
	padding-top: 90px;
}
.contacts h4 {
	margin-bottom: 10px;
	font-weight: bold;
}
.contacts a {
	color: #000000;
	text-decoration: none;
}			
.contacts a:hover {
	color: #727272;
}			
							/* FOOTER */
#footer {
	height: 290px;
	width: 100%;
	background: #1b1b1b;
	color: #5b5b5a;
}
#footer h4 {
	text-align: center;
	margin: 0px;
}
#footer h4 a {
	color: #5b5b5a;
	text-decoration: none;
}
#footer h4 a:hover {
	color: #5b5b5a;
}

#footer #content {
	padding: 15px 0px;
	border-bottom: 1px solid #5b5b5a;
}

#footer ul {
	margin-top: 20px;
}

#footer ul a {
	color: #767676;
	text-decoration: none;
}

#footer ul a:hover {
	color: #e3e3e3;
}

#footer li {
	list-style: none;
	line-height: 2.4em;
}

#footer #secondary p {
	font-family: Candara,sans-serif;
	font-size: 0.88em;
	margin-top: 5px;
}
#footer #secondary a {
	color: #5b5b5a;
	text-decoration: none;
}
#footer #secondary a:hover {
	color: #e3e3e3;
}
    
							
							
							
							/* PRELOADER */
#preloader {
		position: fixed;
		top:0;
		left:0;
		right:0;
		bottom:0;
		background-color: #000; 
		z-index:99;
}
#status {
		width:200px;
		height:200px;
		position:absolute;
		left:50%;
		top:30%;
		background-image:url(../img/preloader.gif);
		background-repeat:no-repeat;
		background-position:center;
		margin:-100px 0 0 -100px;
}


															/****************** RESPONSIVE *******************/
															
@media only screen and (max-width: 600px) {
	#headBanner {
	
	}
	
	.wrap {
		
	}