/* @group GENERAL STYLES
------------------------------------------------------------------------*/
@import "normalize.css";
@import "reset.css";

body {
	font-family: Candara, sans-serif;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	font-size: 100%;
	width:auto; 
	height:auto;	
	color: #000000;
	overflow: hidden;	
}
	
/* @group HELPERS
------------------------------------------------------------------------*/

.clear { clear: both }

@font-face {
  font-family: Zapfino;
  font-style: normal;
  font-weight: 400;
  src: local(Zapfino), url(Zapfino.ttf);
}



/* @group PAGE STRUCTURE
------------------------------------------------------------------------*/
#container {	
	width: 100%;		
}

							/* TOP CONTENT */
#headBanner {
	background-image: url(../img/cover.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 0%;
	overflow: hidden;

}

#headBanner h1 {
	text-align: center;
	color:#fff;
	text-shadow: 0 0 8px rgba(0,0,0,1);
	margin: 0 auto;
	padding: 0 0px;
	font-family: Zapfino;
	font-size: 3.3em;
	font-weight: 100;
	line-height: 3.3em;;
	
}


						
							
							/* MIDDLE CONTENT BOXES */
.wrap {
	margin: 0px auto;
	max-width: 1300px;	
}


.institution {
	margin-top: 50px;
	float: left;
	width: 580px;
	height: 600px;
	box-shadow: 1px 1px 2px 3px #5e5e5e;
}
.institution:first-of-type {
	margin-right: 70px;
	margin-left: 35px;
}
.institution a {
	display: block;
	width: 580px;
	height: 600px;
}
.building {
	width: 460px;
	height: 285px;
	overflow: hidden;
}

.building a {
	display: block;
	height: 285px;
}
	

.descript {
	width: 480px;
	text-align: justify;
}

.descript h2 {
	font-family: Zapfino;
	text-align: center;
	margin-bottom: 50px;
	margin-top: 60px;
	font-size: 1.5em;
}

.descript p {
	line-height: 1.3em;
}

	
	/* contacts */
#contactsWrap {
	margin-top: 50px;
}
#contactsWrap h3 {
	text-align: center;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-weight: bold;
}
.contacts {
	float: left;
	width: 480px;
}
.contacts:first-of-type {
	margin-left: 170px;
}
.contacts ul {
	margin: 0px;
	margin-bottom: 40px;
	font-size: 0.9em;
	text-align: center;
	line-height: 1.2em;
}
.contacts h4 {
	margin-bottom: 10px;
	font-weight: bold;
}
.contacts a {
	color: #000000;
	text-decoration: none;
}			
.contacts a:hover {
	color: #727272;
}			
							/* FOOTER */
#footer {
	height: 290px;
	width: 100%;
	background: #1b1b1b;
	color: #5b5b5a;
}
#footer h4 {
	text-align: center;
	margin: 0px;
}
#footer h4 a {
	color: #5b5b5a;
	text-decoration: none;
}
#footer h4 a:hover {
	color: #5b5b5a;
}

#footer #content {
	padding: 15px 0px;
	border-bottom: 1px solid #5b5b5a;
}

#footer ul {
	margin-top: 20px;
}

#footer ul a {
	color: #767676;
	text-decoration: none;
}

#footer ul a:hover {
	color: #e3e3e3;
}

#footer li {
	list-style: none;
	line-height: 2.4em;
}

#footer #secondary p {
	font-family: Candara,sans-serif;
	font-size: 0.88em;
	margin-top: 5px;
}
#footer #secondary a {
	color: #5b5b5a;
	text-decoration: none;
}
#footer #secondary a:hover {
	color: #e3e3e3;
}
    
							
							
							
							/* PRELOADER */
#preloader {
		position: fixed;
		top:0;
		left:0;
		right:0;
		bottom:0;
		background-color: #000; 
		z-index:99;
}
#status {
		width:200px;
		height:200px;
		position:absolute;
		left:50%;
		top:30%;
		background-image:url(../img/preloader.gif);
		background-repeat:no-repeat;
		background-position:center;
		margin:-100px 0 0 -100px;
}


															/****************** RESPONSIVE *******************/
															
@media only screen and (max-width: 600px) {
	#headBanner {
	
	}
	
	.wrap {
		
	}