/* @group GENERAL STYLES
------------------------------------------------------------------------*/
@import "reset.min.css";

body {
	font-family: "HelveticaNeueUltraLight", "HelveticaNeue-Ultra-Light", "Helvetica Neue Ultra Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Arial", sans-serif;}
/* @group HELPERS
------------------------------------------------------------------------*/

.clear { clear: both }

span { font-weight: 200}

@font-face {
font-family: "HelveticaNeueUltraLight";
src: url('helvetica_neue_ultralight.ttf'),
	 url('helvetica_neue_ultralight.eot');
}

/* @group PAGE STRUCTURE
------------------------------------------------------------------------*/
