/* @group GENERAL STYLES
------------------------------------------------------------------------*/
@import "reset.min.css";

body {
	font-family: "HelveticaNeueUltraLight", "HelveticaNeue-Ultra-Light", "Helvetica Neue Ultra Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Arial", sans-serif;}
/* @group HELPERS
------------------------------------------------------------------------*/

.clear { clear: both }

span { font-weight: 200}

@font-face {
font-family: "HelveticaNeueUltraLight";
src: url('helvetica_neue_ultralight.ttf'),
	 url('helvetica_neue_ultralight.eot');
}

/* @group PAGE STRUCTURE
------------------------------------------------------------------------*/
/* section1 */
#section1 {
	background: url(./img/background.jpg) repeat-y fixed;
	height: 50vh;;
}

#wrap1 {
	width: 100vw;
	text-align: center;
	padding-top: 20vh;
}
#wrap1 h2 {
	color: #ec1f1f;
	font-family: "HelveticaNeueUltraLight", "HelveticaNeue-Ultra-Light", "Helvetica Neue Ultra Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Arial", sans-serif;
	font-weight:100;
	font-stretch:normal; 
	font-size: 4vmax;
}
#wrap1 p {
	color: #b9b9b9;
	font-weight: 100;
	font-size: 2.5vmax;
	
}

/* section2 */	
#section2 {
	background-color: #1b1b1b;
	height: 69vh;
}
#wrap2 {
	width: 62vw;
	margin: 0px auto;	
}
.column {
	width: 30vw;
	height: 20vw;
	background-color: white;
	float: left;
	margin: 4vh auto;
}

#gympl {
	margin-right: 2vw;
}
.building {
	height: 15vw;
}
.column h2 {
	color: #ec1f1f;
	font-family: "HelveticaNeueUltraLight", "HelveticaNeue-Ultra-Light", "Helvetica Neue Ultra Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Arial", sans-serif;
	font-weight:100;
	font-stretch:normal; 
	font-size: 3vmax;
	text-align: center;
}
.contact {
	float: left;
	margin-right: 11vw;
}